
@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Italianno', cursive;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
    color: #fff;
}

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #4545da;
}
.salir {
    background: #4545da;
    padding: 8px;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    width: 85px;
    text-align: center;
}



.contenedor{
    margin: auto;
    width: 99%;
}
/*--------------------------Estilos de header---------------*/
.header {
    height: 60px;
}
.header .contenedor {
    display:flex;
    justify-content: space-between;
}

.salir:hover{
    background: #0033cc;
}

.logo, .icon-menu{
    margin: 5px;
    color: #0033cc;
}
.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
    left: 20px;
    position: fixed;
}

/*Estilos de menu*/
.nav{
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
    z-index: 100;
}

.menu{
    
    list-style: none;
    padding: 0;
    margin: 0;
    color: #4545da;
}

.menu__link{
    display: block;
    padding: 20px;
    background: #4545da;
    text-decoration: none;
    color: #fff;

}

.menu__link:hover, .select {
    background: #0131c2;
    color: #fff;
}

.mostrar {
    left: 0;
}

/*-------------------Estilos del banner---------------*/

.banner{
    margin-top: -60px;
    position: relative;
    z-index:  -1000;
    margin-bottom: 20px;
}
.banner .contenedor{
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.banner__txt{
    display: none;
}

.info__columna{
    background: #4545da;
    color: #fff;
    padding: 15px;
    margin: 20px;
    margin-bottom: 30px;
}
.info__titulo{
    font-size: 40px;
    text-align: center;
}

.logo_img{
    position: absolute;
    height: 100px;
    width: 100px;
    top: -20px;
    left: 20px;
}
/*--------------------Estilos responsive--------------*/
@media(min-width:480px){
    
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .log{
        font-size: 40px;
    }

    .banner__titulo{
        
        margin: 5px 0;
        color: #fff;
    }
    .banner__txt{
        display: block;
        margin: 7px 0;
        color: #fff;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
   
    .info{
        position: absolute;
        top: 300px;
        margin: 20px;
    }
    .info__colunma{
        padding: 30px;
    }

    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    
    .salir {
        background: #0033ccc5;
        padding: 8px;
        position: absolute;
        right: 10px;
        top: 7px;
        color: #fff;
        text-decoration: none;
        border-radius: 24px;
    }

    .nav{
        position: fixed;
        width: 385px;
        left: 0px;
        top: 0px;
        background: #0033ccc5 ;
        z-index: 1;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
   
    .menu__link{
        background: #0000cc00;
        color: #fff;
    }
    
    .menu__link:hover, .select {
        background: #0000cca4;
        color: #fff;
    }
   
    .salir{
        padding: 15px;
        position: absolute;
        right: 30px;
        top: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
    }

    .logo_img{
        position: absolute;
        height: 150px;
        width: 150px;
        top: -25px;
        left: 50px;
    }
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .logo{
        font-size: 60px;
    }
    .info{
        margin-top: -220px;
    }
}
