
@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Italianno', cursive;
    letter-spacing: 1.5px;
}

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #0000cc;
}

.contenedor{
    margin: auto;
    width: 99%;
}
/*--------------------------Estilos de header---------------*/
.header {
    height: 60px;
}
.header .contenedor {
    display:flex;
    justify-content: space-between;
}



.logo, .icon-menu{
    margin: 5px;
    color: #0033cc;
}
.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #0000cc00;
    text-align: center;
    line-height: 45px;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
    left: 20px;
    position: absolute;
}

/*Estilos de menu*/
.nav{
    position: absolute;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu{
    
    list-style: none;
    padding: 0;
    margin: 0;
    color: #0000cc;
}

.menu__link{
    display: block;
    padding: 20px;
    background: #fff;
    text-decoration: none;
    color: #0000cc;

}

.menu__link:hover, .select {
    background: #0033ccc5;
    color: #fff;
}

.mostrar {
    right: 0;
}

/*-------------------Estilos del banner---------------*/

.banner{
    margin-top: -60px;
    position: relative;
    z-index:  -1000;
    margin-bottom: 20px;
    
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #1e1e94;
    text-align: center;
}

.banner__txt{
    display: none;
}
/*Estilos de info*/

.info__columna{
    background: #0033cc;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}
/*--------------------Estilos de paquetes--------------*/
.paquetes__columna{
    position: relative;
    margin-bottom: 30px;
}
.paquetes__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.4);
    width: 60%;
    height: 100%;
    padding: 20px;
}

.paquetes__titulo{
    font-size: 60px;
    margin: 5px 0;
}
.paquetes__img{
    width: 100%;
}
/*--------------------Estilos de footer--------------*/
.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}
/*--------------------Estilos responsive--------------*/

@media(min-width:480px){
    .inicio {
        background: #747474ce;
        padding: 13px;
        position: absolute;
        right: 30px;
        top: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 24px;
    }

    .log{
        font-size: 40px;
    }

    .banner__titulo{
        
        margin: 5px 0;
        color: #fff;
    }
    .banner__txt{
        display: block;
        margin: 7px 0;
        color: #fff;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .paquetes{
        flex-wrap: wrap;
        margin-top: 0;
    }
    
    .section__titulo{
        width: 100%;
    }
    .paquetes__columna{
        width: 50%;
        margin: 5px;
        position: relative;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
   
}

@media(min-width:768px){
    
    .paquetes__titulo{
        font-size: 40px;
    }

    
    
}
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    .section_titulo{
        font-size: 50px;
        margin: 30px 0;
    }
    .nav{
        position: fixed;
        width: 536px;
        left: 0px;
        top: 0px;
        background: rgba(102, 102, 102, 0.466);
        z-index: 1;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .select{
        color: #fff;
        background: #0000cc;
    }
    .banner__titulo{
        font-size: 40px;
    }
    .banner__txt{
        font-size: 18px;
    }
    .banner .contenedor{
        position: absolute;
        top: 260px;
        left: 260px;
    }
    .info{
        margin-top: -120px;
    }
    .info__colunma{
        padding: 30px;
    }
    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    .paquetes__descripcion{
        padding: 20px;
       
    }
    .paquetes__titulo{
        font-size: 50px;
    }
    .paquetes__txt{
        font-size: 20px;
    }
    .menu__link{
        background: #0000cc00;
        color: #fff;
    }
    
    .menu__link:hover, .select {
        background: #0000cca4;
        color: #fff;
    }
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .logo{
        font-size: 60px;
    }
    .banner .contenedor{
        color: #fff;
        top: 380px;
        left: 350px;
    }
    .info{
        margin-top: -220px;
    }
}
